[Unit]
Description=Spark historyserver
After=network.target

[Service]
Type=forking
Environment=HADOOP_HOME={{ hadoop_home }}
WorkingDirectory={{ spark_home }}
ExecStart={{ spark_home }}/sbin/start-history-server.sh
User={{ hadoop_user }}
KillMode=process
KillSignal=SIGINT
Restart=on-failure

[Install]
WantedBy=multi-user.target
